
<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  



    
  </head>
  <body>
    {% include "insurance/navbar.html" %}
    <div class="row log-form">
      <h2 class="text-center pt-3 pb-2">Customer SignUp</h2>
      <br>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="username">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required pattern=".{3,}" title="Username must be at least 3 characters long.">
            {% if userForm.errors.username %}
              <div class="text-danger">
                {{ userForm.errors.username }}
              </div>
            {% endif %}
          </div>
          <div class="form-group col-md-12">
            <label for="inputPassword4">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Password must be at least 8 characters long and contain at least one digit, one lowercase letter, and one uppercase letter.">
            {% if userForm.errors.password %}
              <div class="text-danger">
                {{ userForm.errors.password }}
              </div>
            {% endif %}
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="first_name">First Name</label>
            <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
            {% if userForm.errors.first_name %}
              <div class="text-danger">
                {{ userForm.errors.first_name }}
              </div>
            {% endif %}
          </div>
          <div class="form-group col-md-12">
            <label for="last_name">Last Name</label>
            <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
            {% if userForm.errors.last_name %}
              <div class="text-danger">
                {{ userForm.errors.last_name }}
              </div>
            {% endif %}
          </div>
        </div>
    
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="mobile">Contact</label>
            <input type="tel" name="mobile" class="form-control" placeholder="Contact" required pattern="[0-9]{10}" title="Please enter a 10-digit mobile number.">
            {% if customerForm.errors.mobile %}
              <div class="text-danger">
                {{ customerForm.errors.mobile }}
              </div>
            {% endif %}
          </div>
          <div class="form-group col-md-12">
            <label for="address">Address</label>
            <input type="text" name="address" class="form-control" placeholder="Address" required>
            {% if customerForm.errors.address %}
              <div class="text-danger">
                {{ customerForm.errors.address }}
              </div>
            {% endif %}
          </div>
        </div>
    
    
        <div class="form-row">
          <div class="form-group col-md-12 pt-3 pb-3">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </div>
    
        
    
    

<!-- {% include "insurance/footer.html" %} -->
  </body>
</html>
